<!DOCTYPE html>
<html>
	<head>
		
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="utf-8" />
		<title>QiDaChen的个人博客</title>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<link rel="stylesheet" type="text/css"href="/static/css/bootstrap.min.css"/>
		<script type="text/javascript" src="js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
		<style type="text/css">
			/*img{
				width: 1060;
				height: 720px;
			}*/
		</style>
	</head>
	<body class="index_fm" >
		<div class="navbar navbar-inverse navbar-static-top"style="margin-bottom: 0px;">
			<div class="container" >
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle = "collapse" data-target = "#dh">
						<span id="" class="icon-bar"></span>
						<span id="" class="icon-bar"></span>
						<span id="" class="icon-bar"></span>
					</button>
					<a href="index.html">
					<img src="img/qidachen_logo.png" style="height: 50px; padding-right: 40px;"/>
					</a>
				</div>
				
				<div class="collapse navbar-collapse" id="dh">	
				<ul class="nav navbar-nav daohanglan">
					<li><a href="index.html"> Index </a></li>
					<li class="active"><a href="Forme.html"> Forme </a></li> 
					<li><a href="tech.html"> Techlogy </a></li>
					<li><a href="#"> Blok </a></li>
					<li><a href="#"> Demo </a></li>
				</ul>
					<form action="" method="post" class="navbar-form navbar-right sososo">
						<div class='form-group'>
							<div class="input-group">
								<input type="text" value="" class="form-control"/>
								<span class="input-group-btn">
									<button class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>	
					</form>	
				</div>
			</div>
		</div>
		
		<div id="fome_hd">
			<div class="container">
				<div class="col-lg-3 fomeleft2">
					<div class="tpl_fom">
						<!--<br/>-->
						<div class="icon-fm">
							
						</div>
						<p class="fm_name">陈&nbsp;奇</p>
						<div class="fm_myselfdetile">
						<p class="text-center">性别：男</p>
						<p class="text-center">学校：西安文理学院</p>
						<p class="text-center">专业：软件工程</p>
						<p class="text-center">毕业时间：2019</p>
						</div>
					</div>
					
				</div>
				<div class="col-lg-9 fomeright2">
					<div class="tpr_fom">
						<div class="col-lg-11 col-lg-offset-1">
							<h2 class="hhhh text-center">个人介绍</h2>
						</div>
						
					</div>
					<div class="tmr_fom">
						<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6">
							<h5 class="ttext-center">视觉中国&&摄图网签约摄影师</h5>
							<h5 class="text-center">--PHOTOGRAPHER--</h5>
							<h5 class="text-center">程序萌新猿</h5>
							<h5 class="text-center">--Software Enginner--</h5>
							<h5 class="text-center">前端开发设计爱好者</h5>
							<h5 class="text-center">UI Designer And coder</h5>
							<h5 class="text-center">一个对技术充满好奇的男人--Boy--</h5>
							<h5 class="text-center">一个对生活满怀希望的男人--Man--</h5>
						</div>
						<div class="col-lg-6 col-md-6 col-md-6 ic">
							<img src="img/照相机.png" class="center-block" />
							<h5 class="text-center jx_lt" style="margin-top: -24px;">技术-改变世界</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-lg-3 fm_mdlt hidden-sm hidden-xs">
				<div class="fm_md">
					<div class="">
						
					</div>						
				</div>
			</div>
			<div class="col-lg-4 fm_mdt hidden-sm hidden-xs">
				<div class="fm_md">
					<div class="">
						<img src="img/键盘.png" class="center-block" />
						<h5 class="text-right" style="margin-top: -45px;">. .. 世 界 - 正 在 <strong><big>改 变</big></strong></h5>
					</div>						
				</div>
			</div>
			<div class="col-lg-5 fm_mdrt">
				<div class="fm_md">
					<div>
						<h3 class="text-left">Amazing Dude</h3>
						<h3>Amazing Life</h3>
						<h5>Welcome to the personal site of <strong>QiDaChen</strong></h5>
						<h5>A coder and a photographer</h5>
						<h5>A soul need you to discover</h5>
						
					</div>						
				</div>
			</div>
			
		</div>
		<br>
				<div class="modal-footer">
     			<div class="container">
     				<br>
     				<h4 class="text-center jx_lt">How To Find Me</h4>
     				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
     					<img src='img/微信.png' class="img-wid center-block"/>
     					<p class="text-center jx_lt">chenphoun</p>
     				</div>	
     				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
     					<img src='img/微博.png' class="img-wid center-block"/>
     					<p class="text-center jx_lt">艺术家的猫</p>
     				</div>
     				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
     					<img src='img/邮箱.png' class="img-wid center-block"/>
     					<p class="text-center jx_lt">chenphoun@outlook.com</p>
     				</div>
     			</div>
     		</div>
		
		
	</body>
</html>