<!DOCTYPE html>
<html>
	<head><meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="utf-8" />
		<title>菜单效果</title>
		<script type="text/javascript" src="js/jquery-1-11-0.js" ></script>
		<script type="text/javascript" src="js/jquery.cookie.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/main.js">
			
		</script>
		<link rel="stylesheet" type="text/css"href="css/main.css"/>
		<style type="text/css">
			
		</style>
		<script type="text/javascript">
			
		</script>
	</head>
	<body>
	<div class="con">
		<span class="bt">
			个人能力评测表
		</span>
		<ul>
			<li style="float:right;" class="lever">
				<h2>入门</h2>
			</li>
			<li style="float:right;">
				<h2>python</h2>
			</li>
			<li>
				<div class="bar">
					<div class="scrn">
						
					</div>
				</div>
			</li>
		</ul>
		<br />
		<ul>
			<li style="float:right;" class="lever">
				<h2>入门</h2>
			</li>
			<li style="float:right;">
				<h2>数据库</h2>
			</li>
			<li>
				<div class="bar">
					<div class="scrn">
						
					</div>
				</div>
			</li>
		</ul>
		<br />
		<ul>
			<li style="float:right;" class="lever">
				<h2>入门</h2>
			</li>
			<li style="float:right;">
				<h2>Javasript</h2>
			</li>
			<li>
				<div class="bar">
					<!--<div class="process">
						
					</div>-->
					<div class="scrn">
						
					</div>
				</div>
			</li>
		</ul>
		<br />
		<ul>
			<li style="float:right;" class="lever">
				<h2>入门</h2>
			</li>
			<li style="float:right;">
				<h2>Linux</h2>
			</li>
			<li>
				<div class="bar">
					<div class="scrn">
						
					</div>
				</div>
			</li>
		</ul>
		<br />
		<ul>
			<li style="float:right;" class="lever">
				<h2>入门</h2>
			</li>
			<li style="float:right;">
				<h2>JQuery</h2>
			</li>
			<li>
				<div class="bar">
					<div class="scrn">
						
					</div>
				</div>
			</li>
		</ul>
		<br />
		<ul>
			<li style="float:right;" class="lever">
				<h2>入门</h2>
			</li>
			<li style="float:right;">
				<h2>Django</h2>
			</li>
			<li>
				<div class="bar">
					<div class="scrn">
						
					</div>
				</div>
			</li>
		</ul>
		<div class="">
			<input type="button" name="编辑" id="" value="编辑"  class="btn btn_skill_level"/>		
			<input type="button" name="编辑" id="" value="保存"  class="btn btn_skill_level"/>			
			
		</div>
		
	</div>			
	</body>
</html>
