<!DOCTYPE html>
<html>
	<head>
		
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta charset="utf-8" />
		<title>QiDaChen的个人博客</title>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<!--<link rel="stylesheet" type="text/css"href="css/main.css"/>-->
		<link rel="stylesheet" type="text/css"href="css/bootstrap.min.css"/>
		<script type="text/javascript" src="js/index.js">
			
		</script>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<style type="text/css">
			/*img{
				width: 1060;
				height: 720px;
			}*/
		</style>
	</head>
	
	<div class="advts">
		<div class="container">
			<div class="col-lg-6">
				<p class="advts_jz text-center">这是一条广告--快来愉快的<b>浏览广告</b>啊</p>
			</div>
			<div class="col-lg-6"><p type="button" class="advts_jz text-warning text-center">全站公告</p></div>
		</div>
	</div>
	<body class="index_mian" >
		<div class="navbar navbar-inverse navbar-static-top"style="margin-bottom: 0px;">
			<div class="container" >
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle = "collapse" data-target = "#dh">
						<span id="" class="icon-bar"></span>
						<span id="" class="icon-bar"></span>
						<span id="" class="icon-bar"></span>
					</button>
					<a href="index.html">
					<img src="img/qidachen_logo.png" style="height: 50px; padding-right: 40px;"/>
					</a>
				</div>
				
				<div class="collapse navbar-collapse" id="dh">	
				<ul class="nav navbar-nav daohanglan">
					<li><a href="index.html"> Index </a></li>
					<li><a href="Forme.html"> Forme </a></li> 
					<li class="active"><a href="tech.html"> Techlogy </a></li>
					<li><a href="#"> Blok </a></li>
					<li><a href="#"> Demo </a></li>
				</ul>
					<form action="" method="post" class="navbar-form navbar-right sososo">
						<div class='form-group'>
							<div class="input-group">
								<input type="text" value="" class="form-control"/>
								<span class="input-group-btn">
									<button class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>	
					</form>	
				</div>
			</div>
		</div>
	</body>
</html>